.img_div {
	width: 113px;
	border-radius: 9px;
	margin-bottom: 13px;
	border-top-width: 1px;
	margin-top: 13px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
.main_m {
	margin-left: 10px;
	margin-right: 10px;
	padding-block: 1em;
	-webkit-transition: transform .25s;		
}
