* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label {
  margin-bottom: 0.5em;
}

input[type="text"] {
  font-family: sans-serif;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  margin-bottom: 1em;
  background-color: #00000052;
  border-radius: 4px;
}

.timer {
  font-family: sans-serif;
  font-size: 4em;
}

button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #39a868;
  color: white;
  cursor: pointer;
}

button_delete {
  font-family: sans-serif;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #787777;
  color: white;
  cursor: pointer;
  font-size: 11px;
}

button:disabled {
  background-color: #787777;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 11px;
}

#footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 11px;
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

tfoot th {
  text-align: right;
}

.delete-btn {
  padding: 4px 8px;
  background-color: #787777;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e53935;
}

.new-table {
  background-color: lightyellow;
}

.buttons-container {
    text-align: center;
    margin-bottom: 20px;
	display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
  .new-table {
    background-color: lightblue;
    transition: background-color 0.10s;
  }
}

.wow {
	animation: wow 1.5s;
}@keyframes wow {
	0% {
	opacity: 0.0;
    }
    100% {
	opacity: 1.0;
    }
}

.ukazkyu-1{animation:animStar 100s linear infinite;background:transparent;box-shadow:163px 251px rgba(255,255,255,.2),556px 508px #00000052,1065px 1396px #00000052,1407px 15px #00000052,697px 1068px #00000052,488px 886px #00000052,265px 1165px #00000052,403px 1384px #00000052,1051px 796px #00000052,548px 55px #00000052,270px 1656px #00000052,1727px 1795px #00000052,23px 212px #00000052,608px 51px #00000052,873px 468px #00000052,181px 1155px #00000052,1658px 150px #00000052,628px 1615px #00000052,635px 1467px #00000052,1066px 889px #00000052,1918px 227px #00000052,697px 1048px #00000052,137px 1633px #00000052,1420px 84px #00000052,1136px 572px #00000052,808px 132px #00000052,1073px 28px #00000052,381px 1735px #00000052,265px 238px #00000052,862px 1588px #00000052,18px 224px #00000052,694px 408px #00000052,1002px 240px #00000052,309px 613px #00000052,1793px 1811px #00000052,765px 297px #00000052,750px 787px #00000052,1312px 1951px #00000052,587px 1618px #00000052,1449px 1247px #00000052,917px 1371px #00000052,932px 1117px #00000052,1938px 961px #00000052,1132px 797px #00000052,723px 1416px #00000052,1712px 498px #00000052,1223px 467px #00000052,1795px 1280px #00000052,752px 300px #00000052,824px 245px #00000052,1468px 1272px #00000052,643px 88px #00000052,539px 10px #00000052,31px 1571px #00000052,992px 635px #00000052,1968px 1583px #00000052,878px 1223px #00000052,574px 190px #00000052,694px 725px #00000052,809px 986px #00000052,1766px 725px #00000052,1931px 466px #00000052,1244px 1649px #00000052,1644px 623px #00000052,1927px 1662px #00000052,756px 1930px #00000052,769px 137px #00000052,999px 321px #00000052,1616px 997px #00000052,1253px 76px #00000052;height:1px;width:1px;z-index:-200}
.ukazkyu-1:after{background:transparent;border-radius:10px;box-shadow:163px 251px rgba(255,255,255,.2),556px 508px #00000052,1065px 1396px #00000052,1407px 15px #00000052,697px 1068px #00000052,488px 886px #00000052,265px 1165px #00000052,403px 1384px #00000052,1051px 796px #00000052,548px 55px #00000052,270px 1656px #00000052,1727px 1795px #00000052,23px 212px #00000052,608px 51px #00000052,873px 468px #00000052,181px 1155px #00000052,1658px 150px #00000052,628px 1615px #00000052,635px 1467px #00000052,1066px 889px #00000052,1918px 227px #00000052,697px 1048px #00000052,137px 1633px #00000052,1420px 84px #00000052,1136px 572px #00000052,808px 132px #00000052,1073px 28px #00000052,381px 1735px #00000052,265px 238px #00000052,862px 1588px #00000052,18px 224px #00000052,694px 408px #00000052,1002px 240px #00000052,309px 613px #00000052,1793px 1811px #00000052,765px 297px #00000052,750px 787px #00000052,1312px 1951px #00000052,587px 1618px #00000052,1449px 1247px #00000052,917px 1371px #00000052,932px 1117px #00000052,1938px 961px #00000052,1132px 797px #00000052,723px 1416px #00000052,1712px 498px #00000052,1223px 467px #00000052,1795px 1280px #00000052,752px 300px #00000052,824px 245px #00000052,1468px 1272px #00000052,643px 88px #00000052,539px 10px #00000052,31px 1571px #00000052,992px 635px #00000052,1968px 1583px #00000052,878px 1223px #00000052,574px 190px #00000052,694px 725px #00000052,809px 986px #00000052,1766px 725px #00000052,1931px 466px #00000052,1244px 1649px #00000052,1644px 623px #00000052,1927px 1662px #00000052,756px 1930px #00000052,769px 137px #00000052,999px 321px #00000052,1616px 997px #00000052,1253px 76px #00000052;content:" ";height:1px;opacity:.7;position:absolute;top:2000px;width:1px}
.ukazkyu-2{animation:animStar 150s linear infinite;box-shadow:317px 285px rgba(255,255,255,.2),988px 1871px #00000052,1085px 900px #00000052,1624px 1729px #00000052,1143px 1328px #00000052,1706px 892px #00000052,1087px 529px #00000052,949px 1515px #00000052,1994px 1319px #00000052,1826px 1701px #00000052,1173px 1187px #00000052,1773px 430px #00000052,539px 1288px #00000052,1730px 998px #00000052,1034px 396px #00000052,34px 97px #00000052,316px 1973px #00000052,1698px 752px #00000052,1567px 1662px #00000052,257px 1526px #00000052;height:2px;width:2px}
.ukazkyu-2:after{box-shadow:317px 285px rgba(255,255,255,.2),988px 1871px #00000052,1085px 900px #00000052,1624px 1729px #00000052,1143px 1328px #00000052,1706px 892px #00000052,1087px 529px #00000052,949px 1515px #00000052,1994px 1319px #00000052,1826px 1701px #00000052,1173px 1187px #00000052,1773px 430px #00000052,539px 1288px #00000052,1730px 998px #00000052,1034px 396px #00000052,34px 97px #00000052,316px 1973px #00000052,1698px 752px #00000052,1567px 1662px #00000052,257px 1526px #00000052;height:2px;width:2px}
.ukazkyu-3{animation:animStar 200s linear infinite;box-shadow:299px 220px rgba(255,255,255,.2),1889px 118px #00000052,1395px 1630px #00000052,58px 924px #00000052,1989px 452px #00000052,1889px 1692px #00000052,470px 1101px #00000052,231px 1617px #00000052,319px 180px #00000052,294px 1758px #00000052;height:3px;width:3px}
.ukazkyu-3:after{box-shadow:299px 220px rgba(255,255,255,.2),1889px 118px #00000052,1395px 1630px #00000052,58px 924px #00000052,1989px 452px #00000052,1889px 1692px #00000052,470px 1101px #00000052,231px 1617px #00000052,319px 180px #00000052,294px 1758px #00000052;height:3px;width:3px}
@keyframes animStar{0%{transform:translateY(0)}to{transform:translateY(-1500px)}}@media (prefers-reduced-motion){.ukazkyu-1,.ukazkyu-2,.ukazkyu-3{animation:none}}
