
/* ROM UKΛz-XDΛ */

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.download {
	margin-top: 0px;
    margin-bottom: 0px;	
}

body {
  margin: 0;
  color: #000;
  word-wrap: break-word;
  word-break: break-word;
  transition: background-color .25s;
  -moz-transition: background-color .25s;
  -webkit-transition: background-color .25s;
  font-family: 'Poppins', 'Questrial';
  }

button {
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 0.8em 1.2em;
  transition: background-color .25s; }

button:hover, button:focus {
  background-color: rgba(255, 255, 255, 0.1); }

button:focus {
  outline: 1px solid #FFFFFF; }

.card {
    background: #ffffff33;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 30px;
    box-shadow: 0 0.3em 0.8em rgb(0 0 0 / 9%);
  }

.card * {
    color: #ffffffeb;
    border-radius: 15px;
    text-align: center;
  }

.card:nth-child(1) {
}

.card--small {
  margin: 10px;
  background-color: #fff;
  text-decoration: none;
  padding: 0.1em 3.0em 1.0em;
  }

.card--small * {
  color: #000 !important; }

.card--small .link__img {
  filter: contrast(0) brightness(0) !important; }

.link {
  margin-bottom: 0.5em;
  user-select: none;
  position: relative;
  }

.link--elevated {
  transition: opacity .25s;
  width: -webkit-fill-available;
  display: inline-block;
  vertical-align: middle;
  border-bottom-width: 0px;
  margin-bottom: -24px;
  margin-left: 0px;
  margin-right: 0px;
  animation: go-back 0.40s;
  }

.link--elevated:hover, .link--elevated:focus {
  opacity: 1;
  }
 
.link:hover .link__title {
  color: #FFFFFF;
  }

@media (min-width: 600px) {
  .link__title--right {
    display: inline; } }
.select {
  display: block;
  text-align-last: center;
  }

.select::after {
  display: block;
  line-height: 1;
  font-size: 1em;
  position: absolute;
  bottom: 15px;
  right: 14px;
  width: 24px;
  height: 24px;
  background: url(/images/ic/drop-arrow.svg);
  user-select: none;
  pointer-events: none;
  }

.select__title {
  display: inherit;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  }

select::-ms-expand {
  display: none;
  }

select {
  width: 200px;
  height: 32px;
  padding: .4em .6em;
  margin: 0;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color .25s;
  }

select:hover {
  background-color: rgba(0, 0, 0, 0.15);
  }

select:focus {
  background-color: rgba(0, 0, 0, 0.2);
  }

option {
  background-color: #000;
  }

main {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2em;
  padding-top: 4em;
  padding-block: 4em;
  -webkit-transition: transform .25s;
  }

#footer1 {
    color: #606060;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

@keyframes go-back {
    0% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Elementos*/
@keyframes perfil {
    0% {
    padding-right: 2px;
    }
    50% {
    padding-right: 2px;
    }
    70% {
    padding-right: 2px;
    }
    100% {
    padding-right: 113px;
    }
}
@keyframes fantasma {
	0% {
	font-size: 0px;
	padding-right: 0px;
    }
    100% {
	padding-right: 0px;
	font-size: 0px;
    }
}
