@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/* ROM UKΛz-XDΛ */

.main-content {
    width: 250px;
    top: 40%;
    left: 50%;
    right: 50%;
    position: absolute;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

html {
  background-color: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

h2 {
  color: #757575;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

h3 {
  color: #BDBDBD;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  width: 100%;
}

figure {
  margin-top: 60px;
  margin-bottom: 5px;
  display: block;
}

figure image {
  margin-top: 60px;
  margin-bottom: 5px;
  display: block;
  
}

img {
   padding:3px;
   border: 3px solid #000;
   border-radius: 100px;
   display: inline-block;
   vertical-align: middle;
}

.social {
  padding: 0;
  margin: 0;
  text-align: center;
}

.social li {
  padding: 0;
  margin: 0;
  display: -moz-inline-stack;
  display: inline-block;
}

#footer {
  color: #606060;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(10, 10, 10);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#spinner {
    animation: rotate 0.5s infinite linear;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(10, 10, 10);
    border-bottom: 1px solid #fff;
    border-radius: 100%;
    margin: 0;
}
