* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

.lucas {
  background-color: #ffffff;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label {
  margin-bottom: 0.5em;
}

input[type="text"] {
  font-family: sans-serif;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  margin-bottom: 1em;
  background-color: #fff;
  border-radius: 4px;
}

.timer {
  font-family: sans-serif;
  font-size: 4em;
}

button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #39a868;
  color: white;
  cursor: pointer;
}

button_delete {
  font-family: sans-serif;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #787777;
  color: white;
  cursor: pointer;
  font-size: 11px;
}

button:disabled {
  background-color: #787777;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 11px;
}

#footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 11px;
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

tfoot th {
  text-align: right;
}

.delete-btn {
  padding: 4px 8px;
  background-color: #787777;
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e53935;
}

.new-table {
  background-color: lightyellow;
}

.buttons-container {
    text-align: center;
    margin-bottom: 20px;
	display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
  .new-table {
    background-color: lightblue;
    transition: background-color 0.10s;
  }
}

.wow {
	animation: wow 1.5s;
}@keyframes wow {
	0% {
	opacity: 0.0;
    }
    100% {
	opacity: 1.0;
    }
}
