.perfil {
    width: 250px;
    top: 40%;
    left: 50%;
    right: 50%;
    position: absolute;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.kyu_div {
	margin-top: 10px;
	width: 250px;
	top: 45%;
	left: 50%;
	right: 50%;
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.img_per {
	width: 150px;
	border-radius: 100px;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
}
