
.ukazxda {
	background: linear-gradient(to right, #5c3f9b, #2c7595);
	color: white;
	font-family: Montserrat;
}

.oneui {
	color: #fff;
	background: #ffffff0d;
	border: outset 1px #fffbfb05;
	box-shadow: 0 0.3em 0.8em rgb(0 0 0 / 1%);
}

.oneui * {
	color: #ffffffeb;
	border-radius: 15px;
	text-align: center;
}

option {
	color: #fff;
	background: #4a5399;
}
