
.ukazxda {
	/* background: linear-gradient(to right, rgb(59 77 199 / 85%), rgb(58 41 125 / 79%)); */
	background: linear-gradient(to right, rgb(0 255 173 / 85%), rgb(68 21 255 / 79%));
	color: white;
	font-family: Montserrat;
}

.oneui {
	color: #fff;
	background: #ffffff1a;
	border: outset 1px #fffbfb1a;
	box-shadow: 0 0.3em 0.8em rgb(0 0 0 / 1%);
}

.oneui * {
	color: #ffffffeb;
	border-radius: 15px;
	text-align: center;
}

option {
	color: #fff;
	background-color: #524a95;
}
