
.ukazxda {
	animation: ukazxda 20s infinite;
	background-color: #524a95;
}

.oneui {
	color: #fff;
	background: #ffffff1a;
	border: outset 1px #fffbfb2b;
	box-shadow: 0 0.3em 0.8em rgb(0 0 0 / 1%);
}

.oneui * {
	color: #ffffffeb;
	border-radius: 15px;
	text-align: center;
}

option {
	color: #fff;
	background-color: #101010;
}

@keyframes ukazxda {
	0% {
	background-color: #524a95;
	}
	30% {
	background-color: #222f3d;
	}
	60% {
	background-color: #222f3d;
	}
	100% {
	background-color: #524a95;
	}
}
