@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Fonte*//*UKAz-XDA*/

.pagina {
    width: 250px;
    top: 45%;
    left: 50%;
    right: 50%;
    position: absolute;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
	margin-top: 0px;
    margin-bottom: 0px;
}

.brazil {
  padding: 0;
  margin: 0;
  text-align: center;
}

.brazil li {
  padding: 0;
  margin: 0;
  display: -moz-inline-stack;
  display: inline-block;
}

html {
  background-color: #fbfbfb;
}

body {
  font-family: 'Poppins', 'Questrial';
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #4e7372;
}

h1 {
  color: #000000;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 31px;
}

h2 {
  color: #757575;
  margin-top: -1px;
  margin-bottom: 1px;
  font-size: 27px;
}

h3 {
  color: #4e7372;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 23px;
  width: 60%;
  
    background-color: #ebebeb;
    padding: 3px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
  
}

h4 {
  color: #000000;
  margin-top: 33px;
  margin-bottom: 30px;
  font-size: 18px;
  width: 100%;
}

h5 {
  color: #000000;
  margin-top: -12px;
  margin-bottom: -35px;
  font-size: 18px;
}

h6 {
  color: #000000;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 19px;
}

#footer {
    color: #606060;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

@keyframes changeBackgroundImage {
0% {
  background-color: #d4e1ff;
  }
30% {
  background-color: #deffec;
  }
  
60% {
  background-color: #fad7f9;
  }
  
100% {
  background-color: #d4e1ff;
  }
}
