@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Fonte*//*UKAz-XDA*/

html {
  background-color: #ffffff;
}

body {
  font-family: 'Poppins', 'Questrial';
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.LIMPO1 {
	background-color: #f2f2f2;
    width: 250px;
    top: 45%;
    left: 50%;
    right: 50%;
    position: fixed;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
}


#footer1 {
    color: #606060;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#botao {
    color: #000000;
    font-size: 20px;
    width: -webkit-fill-available;
    left: 40%;
    padding: 3px;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
	animation: changeBackgroundImage 50s infinite;
}

#titulo {
	background-color: #e6e6e6;
    color: #000000;
    font-size: 20px;
    width: -webkit-fill-available;
    left: 40%;
    padding: 3px;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
	padding-top: 10px;
    padding-bottom: 10px;
}

#footer2 {
    color: #000000;
    font-size: 15px;
    padding: 3px;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
	top: 110%;
    left: 50%;
    right: 50%;
    position: fixed;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
}

h1 {
	color: #5232a0;
	font-size: 25px;
	margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
	color: #3c3c3c;
	font-size: 23px;
	margin-top: 15px;
    margin-bottom: 10px;
}

@keyframes changeBackgroundImage {
0% {
  background-color: #8fb3ff;
  }
50% {
  background-color: #a6ffcb;
  }
100% {
  background-color: #8fb3ff;
  }
}

