
@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}

.ukazxda {
	background: linear-gradient(to right top, #3f42a5, #135665);
}

.oneui {
	color: #fff;
	background: linear-gradient(to right top, rgb(179 179 179 / 19%), rgb(128 128 128 / 8%));
	border: outset 1px #fffbfb0d;
	box-shadow: 0 0.3em 1.8em rgb(255 255 255 / 6%);
	text-decoration: auto;
}

.oneui * {
	color: #fff;
	border-radius: 15px;
	text-align: center;
	text-decoration: auto;
}

option {
	color: #fff;
	background: #171f32;
}

.fonte {
	color: #fff;
    font-family: sans-serif;
	text-decoration: blink;
	margin-bottom: 1px;
	margin-top: 1px;
	width: 100%;
}

.ukaz {
        font-family: 'Poppins', 'Questrial';
        margin: 0;
        padding: 0;
        height: 100%;
}

#kyubey {
	height: 100vh;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
}

/**KYUBEY**/
.loader {
  --loader-size: calc(var(--block-size) / 2);
  --loader-size-half: calc(var(--loader-size) / 2);
  --loader-size-half-neg: calc(var(--loader-size-half) * -1);
  --light-color: rgba(255, 255, 255, 0.3);
  --dot-size: 5px;
  --dot-size-half: calc(var(--dot-size) / 2);
  --dot-size-half-neg: calc(var(--dot-size-half) * -1);
  
  display: block;
  position: relative;
  width: var(--loader-size);
  display: grid;
  place-items: center;
  color: white;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
}

/**
  loader--1
**/
.loader--1 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 1s;
  --loader-1-dist: calc(var(--loader-size) - var(--dot-size-half) + 1px);
  aspect-ratio: 1 / 1;
  border: 1px solid var(--light-color);
}

.loader--1::before,
.loader--1::after {
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  top: var(--dot-size-half-neg);
  left: var(--dot-size-half-neg);
  animation: loader-1 var(--anim-duration) cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
}

.loader--1::after {
  animation-delay: calc(var(--anim-duration) / 4 * -1);
}

@keyframes loader-1 {
  0%, 100% {
    transform: none;
  }
  
  25% {
    transform: translateX(var(--loader-1-dist));
  }
  
  50% {
    transform: translateX(var(--loader-1-dist)) translateY(var(--loader-1-dist));
  }
  
  75% {
    transform: translateX(0) translateY(var(--loader-1-dist));
  }
}

/**
  loader--2
**/
.loader--2 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 1s;
  height: 1px;
  background-color: var(--light-color);
}

.loader--2::before,
.loader--2::after {
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  top: calc(var(--dot-size-half-neg) + 1px);
  left: var(--dot-size-half-neg);
  animation: loader-2 var(--anim-duration) cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
}

.loader--2::after {
  animation-delay: calc(var(--anim-duration) / 3 * -1)
}

@keyframes loader-2 {
  0%, 100% {
    transform: none;
  }
  
  44% {
    transform: translateX(calc(var(--loader-size) + var(--dot-size-half)));
  }
}

/**
  loader--3
**/
.loader--3 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 1.2s;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  animation: loader-3 calc(var(--anim-duration) * 3) linear infinite;
}

.loader--3::before,
.loader--3::after {
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  top: var(--dot-size-half-neg);
  left: calc(50% - var(--dot-size-half));
  animation: loader-3 var(--anim-duration) cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
  transform-origin: center calc(var(--loader-size-half) + var(--dot-size-half) - 1px);
}

.loader--3::after {
  animation-delay: calc(var(--anim-duration) / 3 * -1);
}

@keyframes loader-3 {
  100% {
    transform: rotate(1turn);
  }
}

/**
  loader--4
**/
.loader--4 {
  --anim-duration: 0.5s;
  aspect-ratio: 1 / 1;
  perspective: 50vmin;
  transform-style: preserve-3d;
  transform: rotateX(55deg);
}

.loader--4::before,
.loader--4::after {
  width: 50%;
  aspect-ratio: 1 / 1;
  border: 1px solid currentColor;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  animation: loader-4 var(--anim-duration) cubic-bezier(0.07, 0.59, 0.56, 0.88) infinite;
}

.loader--4::after {
  animation-delay: calc(var(--anim-duration) / 2 * -1);
}

@keyframes loader-4 {
  0% {
    transform: scale(0.2) translateZ(-8vmin);
  }
  
  0%, 100% {
    opacity: 0;
  }
  
  66% {
    opacity: 0.8;
    transform: scale(1.2) translateZ(6vmin);
  }
  
  100% {
    transform: scale(1.8) translateZ(2vmin);
  }
}

/**
  loader--5
**/
.loader--5 {
  --tilt-deg: 40deg;
  --anim-duration: 0.6s;
  aspect-ratio: 1 / 1;
  perspective: 50vmin;
  transform-style: preserve-3d;
  animation: loader-5-1 calc(var(--anim-duration) * 3) linear alternate-reverse infinite;
}

.loader--5::before,
.loader--5::after {
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: currentColor;
  top: 25%;
  left: 25%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  animation: loader-5 var(--anim-duration) cubic-bezier(0.07, 0.59, 0.56, 0.88) infinite;
}

.loader--5::before {
  --turn-deg: 360deg;
}

.loader--5::after {
  --turn-deg: 410deg;
  animation-delay: calc(var(--anim-duration) / 1.8 * -1);
}

@keyframes loader-5 {
  0% {
    transform: scale(0.3) translateZ(-5vmin);
  }
  
  0%, 100% {
    opacity: 0;
  }
  
  66% {
    opacity: 0.8;
    transform: scale(1.2) translateZ(5vmin) rotate(var(--turn-deg));
  }
  
  100% {
    transform: scale(1) translateZ(3vmin) rotate(calc(var(--turn-deg) * 1.2));
  }
}

@keyframes loader-5-1 {
  0% {
    transform: rotateX(var(--tilt-deg)) rotateY(-15deg);
  }

  100% {
    transform: rotateX(var(--tilt-deg)) rotateY(15deg);
  }
}

/**
  loader--6
**/
.loader--6 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 0.6s;
  aspect-ratio: 1 / 1;
  perspective: 50vmin;
  transform-style: preserve-3d;
  transform: rotateX(35deg);
}

.loader--6::before,
.loader--6::after {
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: currentColor;
  top: 25%;
  left: 25%;
  animation: loader-6 var(--anim-duration) cubic-bezier(0.07, 0.59, 0.56, 0.88) infinite;
}

.loader--6::before {
  --turn-deg: -60deg;
  --x-dist: -25%;
  transform-origin: left calc(var(--loader-size) * -1);
}

.loader--6::after {
  --turn-deg: 60deg;
  --x-dist: 25%;
  transform-origin: right calc(var(--loader-size) * -1);
  animation-delay: calc(var(--anim-duration) / 2 * -1);
}

@keyframes loader-6 {
  0% {
    transform: scale(0.3) translateZ(-15vmin) rotateY(calc(var(--turn-deg) * -1));
  }
  
  0%, 100% {
    opacity: 0;
  }
  
  33% {
    opacity: 0.8;
    transform: scale(1.2) translateZ(5vmin) translateX(var(--x-dist));
  }
  
  100% {
    transform: scale(1.2) translateZ(5vmin) translateX(var(--x-dist)) rotateY(var(--turn-deg));
  }
}

/**
  loader--7
**/
.loader--7 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 0.8s;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  animation: loader-7 calc(var(--anim-duration) * 2) linear infinite;
}

.loader--7::before,
.loader--7::after {
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  top: calc(50% - var(--dot-size-half));
  left: calc(50% - var(--dot-size-half));
  animation: loader-7-1 var(--anim-duration) cubic-bezier(0.32, 0.41, 0.3, 1.87) infinite;
}

.loader--7::after {
  animation-name: loader-7-2;
  animation-delay: calc(var(--anim-duration) / 3 * -1);
}

@keyframes loader-7 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes loader-7-1 {
  0%, 100% {
    transform: translateX(var(--loader-size-half-neg));
  }
  
  55% {
    transform: translateX(var(--loader-size-half));
  }
}

@keyframes loader-7-2 {
  0%, 100% {
    transform: translateY(var(--loader-size-half-neg));
  }
  
  55% {
    transform: translateY(var(--loader-size-half));
  }
}

/**
  loader--8
**/
.loader--8 {
  --loader-size: calc(var(--block-size) / 3);
  --anim-duration: 0.8s;
  aspect-ratio: 1 / 1;
  border: 1px dashed var(--light-color);
  border-radius: 50%;
  perspective: 50vmin;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(15deg);
}

.loader--8::before,
.loader--8::after {   
  animation: loader-8 var(--anim-duration) cubic-bezier(0.39, 0.24, 0, 0.99) infinite;
}

.loader--8::before {
  --z-dist: 8vmin;
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  top: calc(50% - var(--dot-size-half));
  left: calc(50% - var(--dot-size-half));
  animation-delay: calc(var(--anim-duration) / 4 * -1);
}

.loader--8::after {
  --z-dist: 4vmin;
  width: 65%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid currentColor;
}

@keyframes loader-8 {
  0%, 100% {
    transform: translateZ(calc(var(--z-dist) * -1)) scale(0.6);
  }
  
  55% {
    transform: translateZ(var(--z-dist));
  }
}


/**
  loader--9
**/
.loader--9 {
  --loader-size: calc(var(--block-size) / 6);
  --anim-duration: 0.6s;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 var(--loader-size) var(--light-color);
  animation: loader-9 calc(var(--anim-duration) * 6) linear infinite;
}

.loader--9::before,
.loader--9::after {
  width: var(--dot-size);
  aspect-ratio: 1 / 1;
  background: currentColor;
  border-radius: 50%;
  animation: loader-9-1 var(--anim-duration) cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
}

.loader--9::before {
  --x-dist: 0;
  --y-dist: var(--loader-size-half);
  bottom: calc(100% + var(--loader-size));
  left: calc(50% - var(--dot-size-half));
  transform-origin: center var(--loader-size);
}

.loader--9::after {
  --x-dist: var(--loader-size-half);
  --y-dist: 0;
  top: calc(50% - var(--dot-size-half));
  right: calc(100% + var(--loader-size));
  transform-origin: var(--loader-size) center;
  animation-delay: calc(var(--anim-duration) / 2 * -1);
}

@keyframes loader-9 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes loader-9-1 {
  0%, 100% {
    opacity: 0;
  }
  
  33% {
    opacity: 1;
  }
  
  0% {
    transform: scale(1.1);
  }
  
  88% {
    transform: rotate(180deg) translate(var(--x-dist), var(--y-dist));
  }
}

.ukazanime {
	--block-size: 85vmin;
	display: grid;
	grid-gap: 1vmin;
	place-items: center;
}

.ukazanime:hover .item {
  opacity: 0.3;
}

.ukazanime:hover .item:hover {
  opacity: 1;
}

.signup-bg-stars{animation:animStar 100s linear infinite;background:transparent;box-shadow:163px 251px rgba(255,255,255,.2),556px 508px #fff,1065px 1396px #fff,1407px 15px #fff,697px 1068px #fff,488px 886px #fff,265px 1165px #fff,403px 1384px #fff,1051px 796px #fff,548px 55px #fff,270px 1656px #fff,1727px 1795px #fff,23px 212px #fff,608px 51px #fff,873px 468px #fff,181px 1155px #fff,1658px 150px #fff,628px 1615px #fff,635px 1467px #fff,1066px 889px #fff,1918px 227px #fff,697px 1048px #fff,137px 1633px #fff,1420px 84px #fff,1136px 572px #fff,808px 132px #fff,1073px 28px #fff,381px 1735px #fff,265px 238px #fff,862px 1588px #fff,18px 224px #fff,694px 408px #fff,1002px 240px #fff,309px 613px #fff,1793px 1811px #fff,765px 297px #fff,750px 787px #fff,1312px 1951px #fff,587px 1618px #fff,1449px 1247px #fff,917px 1371px #fff,932px 1117px #fff,1938px 961px #fff,1132px 797px #fff,723px 1416px #fff,1712px 498px #fff,1223px 467px #fff,1795px 1280px #fff,752px 300px #fff,824px 245px #fff,1468px 1272px #fff,643px 88px #fff,539px 10px #fff,31px 1571px #fff,992px 635px #fff,1968px 1583px #fff,878px 1223px #fff,574px 190px #fff,694px 725px #fff,809px 986px #fff,1766px 725px #fff,1931px 466px #fff,1244px 1649px #fff,1644px 623px #fff,1927px 1662px #fff,756px 1930px #fff,769px 137px #fff,999px 321px #fff,1616px 997px #fff,1253px 76px #fff;height:1px;width:1px;z-index:-200}
.signup-bg-stars:after{background:transparent;border-radius:10px;box-shadow:163px 251px rgba(255,255,255,.2),556px 508px #fff,1065px 1396px #fff,1407px 15px #fff,697px 1068px #fff,488px 886px #fff,265px 1165px #fff,403px 1384px #fff,1051px 796px #fff,548px 55px #fff,270px 1656px #fff,1727px 1795px #fff,23px 212px #fff,608px 51px #fff,873px 468px #fff,181px 1155px #fff,1658px 150px #fff,628px 1615px #fff,635px 1467px #fff,1066px 889px #fff,1918px 227px #fff,697px 1048px #fff,137px 1633px #fff,1420px 84px #fff,1136px 572px #fff,808px 132px #fff,1073px 28px #fff,381px 1735px #fff,265px 238px #fff,862px 1588px #fff,18px 224px #fff,694px 408px #fff,1002px 240px #fff,309px 613px #fff,1793px 1811px #fff,765px 297px #fff,750px 787px #fff,1312px 1951px #fff,587px 1618px #fff,1449px 1247px #fff,917px 1371px #fff,932px 1117px #fff,1938px 961px #fff,1132px 797px #fff,723px 1416px #fff,1712px 498px #fff,1223px 467px #fff,1795px 1280px #fff,752px 300px #fff,824px 245px #fff,1468px 1272px #fff,643px 88px #fff,539px 10px #fff,31px 1571px #fff,992px 635px #fff,1968px 1583px #fff,878px 1223px #fff,574px 190px #fff,694px 725px #fff,809px 986px #fff,1766px 725px #fff,1931px 466px #fff,1244px 1649px #fff,1644px 623px #fff,1927px 1662px #fff,756px 1930px #fff,769px 137px #fff,999px 321px #fff,1616px 997px #fff,1253px 76px #fff;content:" ";height:1px;opacity:.7;position:absolute;top:2000px;width:1px}
.signup-bg-stars-2{animation:animStar 150s linear infinite;box-shadow:317px 285px rgba(255,255,255,.2),988px 1871px #fff,1085px 900px #fff,1624px 1729px #fff,1143px 1328px #fff,1706px 892px #fff,1087px 529px #fff,949px 1515px #fff,1994px 1319px #fff,1826px 1701px #fff,1173px 1187px #fff,1773px 430px #fff,539px 1288px #fff,1730px 998px #fff,1034px 396px #fff,34px 97px #fff,316px 1973px #fff,1698px 752px #fff,1567px 1662px #fff,257px 1526px #fff;height:2px;width:2px}
.signup-bg-stars-2:after{box-shadow:317px 285px rgba(255,255,255,.2),988px 1871px #fff,1085px 900px #fff,1624px 1729px #fff,1143px 1328px #fff,1706px 892px #fff,1087px 529px #fff,949px 1515px #fff,1994px 1319px #fff,1826px 1701px #fff,1173px 1187px #fff,1773px 430px #fff,539px 1288px #fff,1730px 998px #fff,1034px 396px #fff,34px 97px #fff,316px 1973px #fff,1698px 752px #fff,1567px 1662px #fff,257px 1526px #fff;height:2px;width:2px}
.signup-bg-stars-3{animation:animStar 200s linear infinite;box-shadow:299px 220px rgba(255,255,255,.2),1889px 118px #fff,1395px 1630px #fff,58px 924px #fff,1989px 452px #fff,1889px 1692px #fff,470px 1101px #fff,231px 1617px #fff,319px 180px #fff,294px 1758px #fff;height:3px;width:3px}
.signup-bg-stars-3:after{box-shadow:299px 220px rgba(255,255,255,.2),1889px 118px #fff,1395px 1630px #fff,58px 924px #fff,1989px 452px #fff,1889px 1692px #fff,470px 1101px #fff,231px 1617px #fff,319px 180px #fff,294px 1758px #fff;height:3px;width:3px}
@keyframes animStar{0%{transform:translateY(0)}to{transform:translateY(-2000px)}}@media (prefers-reduced-motion){.signup-bg-stars,.signup-bg-stars-2,.signup-bg-stars-3{animation:none}}

