.pagina {
    width: 250px;
    top: 45%;
    left: 50%;
    right: 50%;
    position: absolute;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fotu {
	width: 150px;
    border-radius: 100px;
	margin-bottom: 20px;
}
body {
  font-family: 'Poppins', 'Questrial';
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  color: #ffffff;
  text-decoration: blink;
}
h1 {
  color: #ffffff;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 37px;
  font-family: system-ui;
}
h2 {
  color: #ffffffc7;
  margin-top: -1px;
  margin-bottom: 1px;
  font-size: 27px;
}
h4 {
  color: #ffffffe0;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
  width: 100%;
}
