.txt {
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 57px;
	padding-right: 57px;
	text-decoration: blink;
}
.tutorial {
	font-size: 20px;
	margin-bottom: 2px;
	display: inherit;
	margin: 8px;
	padding: 0;
	margin-top: -25px;
}
.download {
	margin-top: 10px;
	font-size: 23px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 260.142;
	height: 35px;
	display: inline-block;
	display: table-cell;
	border-radius: 30px;
	margin-bottom: 10px;
}
